body {
    margin: 0;
    background: #eee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a.btn {
    padding: .5rem 1rem;
    background: #222;
    color: #eee;
    text-decoration: none;
    border-radius: 3px;
    transition: all .2s ease;
}

a.btn:hover {
    padding: .75rem 1.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
    background: rgb(225, 39, 39);
}